<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="card-columns">
      <div class="card">
        <img class="card-img-top" src="assets/img/aprendiz1.jpg" alt="aprendiz">
        <div class="card-body">
          <h4 class="card-title">Nombre del aprendiz</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt hic vero veniam soluta dolorem officiis distinctio iste modi accusamus, sed vitae quasi, eos neque omnis. Maiores odio beatae eum quo.</p>
          <p class="card-text">
            <small class="text-muted">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate dolorum, eos facilis blanditiis, repellendus fugiat laborum vero molestias ipsa maiores alias hic laboriosam ea accusantium! Expedita omnis nulla facere fugit!
            </small>
          </p>
          <button type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/img/aprendiz2.jpg" alt="aprendiz">
        <div class="card-body">
          <h4 class="card-title">Nombre del aprendiz</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt hic vero veniam soluta dolorem officiis distinctio iste modi accusamus, sed vitae quasi, eos neque omnis. Maiores odio beatae eum quo.</p>
          <p class="card-text">
            <small class="text-muted">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate dolorum, eos facilis blanditiis, repellendus fugiat laborum vero molestias ipsa maiores alias hic laboriosam ea accusantium! Expedita omnis nulla facere fugit!
            </small>
          </p>
          <button type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/img/aprendiz3.jpg" alt="aprendiz">
        <div class="card-body">
          <h4 class="card-title">Nombre del aprendiz</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt hic vero veniam soluta dolorem officiis distinctio iste modi accusamus, sed vitae quasi, eos neque omnis. Maiores odio beatae eum quo.</p>
          <p class="card-text">
            <small class="text-muted">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate dolorum, eos facilis blanditiis, repellendus fugiat laborum vero molestias ipsa maiores alias hic laboriosam ea accusantium! Expedita omnis nulla facere fugit!
            </small>
          </p>
          <button type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/img/aprendiz4.jpg" alt="aprendiz">
        <div class="card-body">
          <h4 class="card-title">Nombre del aprendiz</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt hic vero veniam soluta dolorem officiis distinctio iste modi accusamus, sed vitae quasi, eos neque omnis. Maiores odio beatae eum quo.</p>
          <p class="card-text">
            <small class="text-muted">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate dolorum, eos facilis blanditiis, repellendus fugiat laborum vero molestias ipsa maiores alias hic laboriosam ea accusantium! Expedita omnis nulla facere fugit!
            </small>
          </p>
          <button type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/img/aprendiz5.jpg" alt="aprendiz">
        <div class="card-body">
          <h4 class="card-title">Nombre del aprendiz</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt hic vero veniam soluta dolorem officiis distinctio iste modi accusamus, sed vitae quasi, eos neque omnis. Maiores odio beatae eum quo.</p>
          <p class="card-text">
            <small class="text-muted">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate dolorum, eos facilis blanditiis, repellendus fugiat laborum vero molestias ipsa maiores alias hic laboriosam ea accusantium! Expedita omnis nulla facere fugit!
            </small>
          </p>
          <button type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/img/aprendiz6.jpg" alt="aprendiz">
        <div class="card-body">
          <h4 class="card-title">Nombre del aprendiz</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt hic vero veniam soluta dolorem officiis distinctio iste modi accusamus, sed vitae quasi, eos neque omnis. Maiores odio beatae eum quo.</p>
          <p class="card-text">
            <small class="text-muted">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate dolorum, eos facilis blanditiis, repellendus fugiat laborum vero molestias ipsa maiores alias hic laboriosam ea accusantium! Expedita omnis nulla facere fugit!
            </small>
          </p>
          <button type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
        </div>
      </div>
    </div>
  </div>
</div>
